.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator_boundary {
  width: 250px;
  height: 375px;
  /* border: 1px solid black; */
  border-radius: 15px;
  padding: 0%;
  margin: 0%;
  background-color: rgb(97, 209, 144);
  box-shadow: 0px 0px 10px 7px rgba(16, 1, 1, 0.2);
}

section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}

.display_box {
  position: relative;
  box-shadow: 0px 0px 15px 2px rgba(16, 1, 1, 0.2);
  font-family: sans-serif;
  height: 50px;
  width: 80%;
  margin: 15px;
  background-color: aliceblue;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: x-large;
  overflow: hidden;
  text-overflow: ellipsis;
}

.keypad input {
  box-shadow: 0px 0px 15px 2px rgba(16, 1, 1, 0.2);
  border: inherit;
  border-radius: 10px;
  background-color: rgb(102, 4, 102);
  height: 50px;
  width: 50px;
  color: aliceblue;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}

input[value="0"],
input[value="="] {
  width: 44%;
}

input:hover {
  color: black;
  background-color: rgb(68, 102, 77);
  transition: 0.2s ease-in-out;
}
